.load {
  background: #fff;
  width: 100%;
  margin: 0 auto;
  min-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.comicMain {
  background: #000;
  min-width: 1200px;
}
.comicMain header {
  background: #fff;
  height: 80px;
  min-width: 1200px;
}
.comicMain header .headerWrapper {
  height: 100%;
  width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.comicMain header .headerWrapper .ant-breadcrumb {
  margin-left: 30px;
}
.comicMain header .headerWrapper .ant-breadcrumb span {
  font-size: 20px;
}
.comicMain .comic {
  width: 1200px;
  margin: 0 auto;
  height: 310px;
  overflow: hidden;
}
.comicMain .comic .imgWraper {
  width: 184px;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  float: left;
}
.comicMain .comic .imgWraper img {
  width: 100%;
  height: 230px;
  background-size: 100% 100%;
  border-radius: 10px;
}
.comicMain .comic .contentWrapper {
  float: left;
  margin-left: 60px;
  width: 940px;
  height: 100%;
  display: flex;
  align-items: center;
}
.comicMain .comic .contentWrapper .content {
  width: 100%;
  height: 230px;
}
.comicMain .comic .contentWrapper .content h1 {
  color: #fff;
  font-size: 30px;
  height: 41px;
  line-height: 41px;
  font-weight: bold;
  display: flex;
  align-items: center;
  margin-bottom: 0;
}
.comicMain .comic .contentWrapper .content h1 div {
  margin-left: 20px;
}
.comicMain .comic .contentWrapper .content h2 {
  color: #fff;
  font-size: 16px;
  line-height: 40px;
  height: 40px;
  margin-bottom: 0;
}
.comicMain .comic .contentWrapper .content h2 div {
  margin-left: 15px;
}
.comicMain .comic .contentWrapper .content h3 {
  color: #fff;
  font-size: 14px;
  line-height: 2;
  height: 100px;
  overflow: hidden;
}
.comicMain .comic .contentWrapper .content h4 a {
  display: flex;
}
